.restaurant-breadcrumbs-banner {
    background-color: #c10000;
}
.offer-text-title {
    font-size: 20px;
    padding: 3%;
    color: red;
}
.offer-text-subtitle {
    font-size: 14px;
    padding-left: 3%;
}
.order-btn {
    margin-left: 3%;
}
.modal1 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 75, 71, 71, .8 );
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.swal2-title {
    color: black !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 999;
}

.eye-pass {
    position: relative;
    cursor: pointer;
    float: right;
    margin-top: -5%;
}

@media (max-width: 575.98px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 93%;
        z-index: 999;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 93%;
        z-index: 999;
    }
}